
build/

android/\.gradle/4\.10\.2/javaCompile/

android/\.gradle/4\.10\.2/fileHashes/

android/\.gradle/4\.10\.2/taskHistory/

android/\.gradle/buildOutputCleanup/

\.idea/

*.lock

\.packages

\.flutter-plugins

ios/Runner/

android/app/src/main/java/io/flutter/plugins/

android/local.properties
